$color_blue:#678FF2;
$color_darkblue: rgba(255, 255, 255, 0.1);

$color_white: #fff;
$color_black: #000;


$media-xxl: 1400px;
$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
$media-min: 428px;